<div class="modal fade" id="TandC" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">TJO</h5>
                <small class="form-text-style mt-1">Posted @Model.TimeCreated.ToShortDateString()</small>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               TEST

            </div>
            <div class="modal-footer pb-0">
                <button type="button" class="project-buttons form-buttons red-buttons" data-dismiss="modal">CLOSE</button>
            </div>
            }
        </div>
    </div>
</div>