@using LingonberryStudio.Data.Entities
@using LingonberryStudio.ViewModels
@using System.ComponentModel;
@model AdvertViewMoldel

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


@using (Html.BeginForm("CreateAd", "Adverts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!-- Modal -->
    <div class="modal fade table-responsive" id="formModal" tabindex="-1" role="dialog" aria-labelledby="mdl-add-lbl" aria-hidden="true">
        <div class="modal-dialog modal-xl table-responsive" role="document">
            <!-- Modal content-->
            <div class="modal-content tabler">
                <div class="modal-header form-background-color">
                    <h5 class="modal-title" id="mdl-add-lbl">CREATE AD</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <div class="col">
                            <div class="form-check mt-2 mx-2">
                                <input class="form-check-input" type="radio" asp-for="Advert.Offering" name="Advert.Offering" value="true">
                                <label asp-for="Advert.Offering"> I am offering a studio</label><br>
                                <input class="form-check-input" type="radio" asp-for="Advert.Offering" name="Advert.Offering" value="false">
                                <label asp-for="Advert.Offering"> I am looking for a studio</label><br>
                                <span asp-validation-for="Advert.Offering" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group" id="city">
                                <label asp-for="Advert.City">City</label>
                                <input type="text" class="form-control" asp-for="Advert.City" required>
                                <span asp-validation-for="Advert.City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group" id="area">
                                <label asp-for="Advert.Area">Area</label>
                                <input type="text" class="form-control" asp-for="Advert.Area">
                                <span asp-validation-for="Advert.Area" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Advert.FirstName">First name</label>
                                <input type="text" asp-for="Advert.FirstName" class="form-control " required>
                                <span asp-validation-for="Advert.FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Advert.LastName">Last name</label>
                                <input type="text" asp-for="Advert.LastName" class="form-control " required>
                                <span asp-validation-for="Advert.LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Advert.Email">Email</label>
                                <input type="email" asp-for="Advert.Email" class="form-control" required>
                                <span asp-validation-for="Advert.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Advert.PhoneNumber">Phone number</label>
                                <input type="tel" asp-for="Advert.PhoneNumber" class="form-control" />
                                <span asp-validation-for="Advert.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Advert.Artist">Artist/Project name</label>
                                <input type="text" asp-for="Advert.Artist" class="form-control" />
                                <span asp-validation-for="Advert.Artist" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col mt-2 workspace">
                            <div class="form-group">
                                <label asp-for="Advert.StudioType">Workspace</label>
                                <br>
                                <input asp-for="Advert.StudioType" list="Advert.StudioType" name="Advert.StudioType" required>
                                <datalist id="Advert.StudioType">
                                    <option>Music Studio</option>
                                    <option>Art Studio</option>
                                    <option>Photo Studio</option>
                                    <option>Dance Rehersal Studio</option>
                                    <option>Ceramics Studio</option>
                                    <option>Painting Workshop</option>
                                </datalist>
                                <span asp-validation-for="Advert.StudioType" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Advert.Description">Description</label>
                        <textarea type="text" placeholder="Please type a short description(Workspace, genre, set-up, background etc)" asp-for="Advert.Description" class="form-control"></textarea>

                        <span class="invalid-feedback">Please enter Description</span>
                        <span asp-validation-for="Advert.Description" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Advert.FormFile">Studio image</label>
                            <input asp-for="Advert.FormFile" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Advert.SocialMedia">Social media</label>
                        <input type="text" class="form-control" asp-for="Advert.SocialMedia" />
                        <span asp-validation-for="Advert.SocialMedia" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="align-content-center form-border-box">
                                <div class="form-group checkbox">
                                    <p>Days in the studio:</p>
                                    <input class="form-check-input" type="checkbox" asp-for="Advert.Monday" value="true">
                                    <label asp-for="Advert.Monday">Monday</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="Advert.Tuesday" value="true">
                                    <label asp-for="Advert.Tuesday">Tuesday</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="Advert.Wednesday" value="true">
                                    <label asp-for="Advert.Wednesday">Wednesday</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="Advert.Thursday" value="true">
                                    <label asp-for="Advert.Thursday">Thursday</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="Advert.Friday" value="true">
                                    <label asp-for="Advert.Friday">Friday</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="Advert.Saturday" value="true">
                                    <label asp-for="Advert.Saturday">Saturday</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="Advert.Sunday" value="true">
                                    <label asp-for="Advert.Sunday">Sunday</label><br>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="align-content-center form-border-box">
                                <div class="form-group checkbox">
                                    <p>Amenities</p>
                                    <input class="form-check-input" type="checkbox" asp-for="Advert.Parking" value=true>
                                    <label asp-for="Advert.Parking"> Parking space</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="Advert.AirCondition" value=true>
                                    <label asp-for="Advert.AirCondition">Air conditioning</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="Advert.Kitchen" value=true>
                                    <label asp-for="Advert.Kitchen"> Kitchen</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="Advert.AcousticTreatment" value=true>
                                    <label asp-for="Advert.AcousticTreatment">Acoustic treatment</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="Advert.NaturalLight" value=true>
                                    <label asp-for="Advert.NaturalLight">Natural light</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="Advert.CeramicOven" value=true>
                                    <label asp-for="Advert.CeramicOven">Ceramic oven</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="Advert.RunningWater" value=true>
                                    <label asp-for="Advert.RunningWater">Running water</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="Advert.Shower" value=true>
                                    <label asp-for="Advert.Shower">Shower</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="Advert.Toilet" value=true>
                                    <label asp-for="Advert.Toilet">Toilet</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="Advert.Storage" value=true>
                                    <label asp-for="Advert.Storage">Storage</label><br>

                                    <label asp-for="Advert.Other">Type your own</label><br>
                                    <input type="text" asp-for="Advert.Other" />
                                    <span asp-validation-for="Advert.Other" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" onclick="enableMeasurement()" type="radio" asp-for="Advert.MeasurementType" name="Advert.MeasurementType" value="Square foot">
                                <label asp-for="Advert.MeasurementType">Area square foot</label><br>
                                <input class="form-check-input" type="radio" onclick="enableMeasurement()" asp-for="Advert.MeasurementType" name="Advert.MeasurementType" value="Square metres">
                                <label asp-for="Advert.MeasurementType">Area in square metres</label><br>
                                <input type="number" id="measurement-number" asp-for="Advert.MeasurementNumber" disabled />
                                <span class="invalid-feedback">Please tick a box</span>
                                <span asp-validation-for="Advert.MeasurementNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group mx-4 mt-3">
                                <label class="formAlignment" asp-for="Advert">Select Date</label> <br>

                                <input id="Start_date_picker" type="date" asp-for="Advert.StartDate">
                                <input id="End_date_picker" type="date" asp-for="Advert.EndDate">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" onclick="enableBudget()" asp-for="Advert.Period" name="Advert.Period" value="Month">
                                <label asp-for="Advert.Period">Price per month</label><br>
                                <input class="form-check-input" type="radio" onclick="enableBudget()" asp-for="Advert.Period" name="Advert.Period" value="Week">
                                <label asp-for="Advert.Period">Price per week</label><br>
                                <input type="number" asp-for="Advert.Pounds" id="budget-number" disabled>
                            </div>
                            <div class="form-group mx-4 mt-3">
                                <label class="formAlignment" asp-for="Advert">Select time</label> <br>
                                <input type="time" asp-for="Advert.OpeningTime"><br> <br>
                                <input type="time" asp-for="Advert.ClosingTime">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer form-background-color">

                @*<a data-toggle="modal" data-target="@("#TandC")">T&C</a>
                    <a class="btn project-buttons form-buttons" asp-controller="Adverts" asp-action="TC" data-toggle="modal" data-target="@("#TandC")">testa</a>
                    <div id="popupTandC"></div>*@

                    <div class="dropup">
                        <a class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            I have read the Terms and Conditions
                        </a>
                        <div class="dropdown-menu" id="drop">
                            <div class="form-outline mb-4 p-4">
                                <h3>Terms And Conditions</h3>
                                <p>
                                    As a condition of your use of Lingonberry you agree to the following terms:
                                </p>
                                <ul class="disclaimer-text">
                                    <li>
                                        You will not violate any laws.
                                    </li>
                                    <li>
                                        You will not post any threatening, abusive, defamatory, obscene or indecent material.
                                    </li>
                                    <li>
                                        You will not post or otherwise communicate any false or misleading material or message of any kind.
                                    </li>
                                    <li>
                                        You will not distribute viruses or any other technologies that may harm Lingonberry or Lingonberry users.
                                    </li>
                                    <li>
                                        You will not copy, modify, or distribute any other person's content without their consent.
                                    </li>
                                    <li>
                                        By using Lingonberry, you agree to the collection, transfer, storage and use of your personal information by Lingonberry on servers located in the Northern Europe.
                                    </li>
                                    <li>
                                        Lingonberry takes no responsibility when is comes to contracts and studio sharing. We only provide a service where likeminded can meet and nothing else.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <input type="checkbox" name="checkbox" />
                    <button type="submit" class="btn project-buttons green-buttons form-buttons" id="Submit" disabled>SUBMIT</button>
                    <button type="button" class="btn project-buttons red-buttons form-buttons" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>

}
@*@await Html.PartialAsync("_TearmsAndConditionPartial")*@




<script type="text/javascript">
    @*function showfield(name) {
        if (name == 'Other') document.getElementById('div1').innerHTML = 'Other: <input type="text" name="other" />';
        else document.getElementById('div1').innerHTML = '';
        }*@

        function enableMeasurement() {
            document.getElementById("measurement-number").disabled = false;
            var x = document.getElementById("measurement-number").value;
        }

    function enableBudget() {
        document.getElementById("budget-number").disabled = false;
        var x = document.getElementById("budget-number").value;
    }


    var checkbox = document.querySelector("input[name=checkbox]");

    checkbox.addEventListener('change', function () {
        if (this.checked) {
            document.getElementById("Submit").disabled = false;
        } else {
            document.getElementById("Submit").disabled = true;
        }
    });
</script>
<script language="javascript">
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    $('#Start_date_picker').attr('min', today);
</script>
<script language="javascript">
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    $('#End_date_picker').attr('min', today);
</script>
<script language="javascript">
    $("#Start_date_picker").change(function () {
        $("#End_date_picker").prop("min", $(this).val());
        $("#End_date_picker").val(""); //clear end date input when start date changes
    });
</script>
<script type="text/javascript">
    function OnComplete() {
        $("#formModal").modal("hide");
    }
</script>
