@using LingonberryStudio.Data.Entities

@model Advert

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
	Post your ad
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Create your ad</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<form id="myform" method="post">
			@Html.TextBoxFor(m => m.Name,new { /*@class="form-control",*/ @placeholder="Name"})
			@Html.TextAreaFor(m => m.Description,new { @class="form-control", @placeholder="Description"})
		@*	<input asp-for="Name"/>
			<span asp-validation-for="Name"></span>
			<input asp-for="Description" />
			<span asp-validation-for="Description"></span>*@
		</form>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			@*<button type="button" class="btn btn-primary"><a asp-controller="home" asp-action="index">LALALLA</a></button>*@
			<button type="submit" class="btn btn-primary"><a asp-controller="Adverts" asp-action="Create">Butt</a></button>
			<button type="button" class="btn btn-primary"> <a asp-controller="Adverts" asp-action="Create" asp-route-id="@Model.Name">BUTT</a></button>
	
		</div>
	</div>
</div>


