@*@model IEnumerable<FormModel>*@

@*
<li class="nav-item">*@
<partial name="_FormPartialview" class="nav-l" />
@*</li>*@
@*<div id="partialZone">
	
</div>*@
@*@section scripts{
	<script>
		$('#partialZone').load("/Adverts/FormPartial")
	</script>
}*@


	