@using LingonberryStudio.Data.Entities


<div id="popupForm">
</div>
@section scripts{
	<script>
        $('#popupForm').load("/Adverts/Form")
	</script>
}

@*<partial name="_Form" />*@


<h1>ADS</h1>

@model List<Advert>
@foreach (var p in Model){
	<p>Id: @p.Id Name: @p.Name <br> Description: @p.Description </p>
}