@using LingonberryStudio.Data.Entities


<div id="partialZone">
</div>
@section scripts{
	<script>
		$('#partialZone').load("/Adverts/FormPartial")
	</script>
}

@*<partial name="_Form" />*@


<h1>FIND YOUR SPACE</h1>

@model List<Advert>
@foreach (var p in Model){
	<p>Quantity: @p.Name <br> Item: @p.Description </p>
}