@using LingonberryStudio.Data.Entities



<div id="partialZone">


</div>
@section scripts{
	<script>
		$('#partialZone').load("/Adverts/FormPartial")
	</script>
}

<h1>FIND YOUR SPACE</h1>
@model IEnumerable<Advert>