@using LingonberryStudio.Data.Entities
@model List<Advert>


<div id="areaAndResults" class="">
    <p id="result">@Model.Count results</p>
    <div id="popupForm"></div>
    <a asp-controller="Adverts" asp-action="Form" class="btn adBtn" data-target="#formModal" data-toggle="modal">POST YOUR AD</a>

</div>

<div class="container-fluid flex-grid-container border-0">
    <div class="flex-grid-container justify-content-center">
        @foreach (var ad in Model)
        {
            <div class="ad-card">
                <a data-toggle="modal" data-target="@("#adModal-"+ad.AdvertId)">
                    <div>
                        <img src="/@ad.Description.ImgUrl" class="img-fluid mx-auto ad-image">
                    </div>
                    <div>
                        <p class="fw-bold mb-0 mt-3">@ad.WorkspaceDescription</p>
                        <p class="mb-0">@ad.City</p>
                        <p>£@ad.Budgets.Price/@ad.Budgets.MonthOrWeek</p>

                    </div>
                </a>
                @await Html.PartialAsync("_ChosenAdPartial", ad)
            </div>
        }
    </div>
</div>
