@{
    ViewData["Title"] = "Home Page";    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <header class="intro">
        <img src="~/img/1.jpg" class="slideshow-img" />
        <img src="~/img/2.jpg" class="slideshow-img" />
        <img src="~/img/3.jpg" class="slideshow-img" />
        <img src="~/img/4.jpg" class="slideshow-img" />
    </header>
</div>