@{
    ViewData["Title"] = "Home Page";
}

<div class="full-width">
    <div class="intro">
        <img src="~/img/1.jpg" class="img-fluid slideshow-img" />
        <img src="~/img/2.jpg" class="img-fluid slideshow-img" />
        <img src="~/img/3.jpg" class="img-fluid slideshow-img" />
        <form method="post" class="rounded-pill h-50 searchBox">
            <h2 class="">Find creative studios</h2>
            <input type="text" id="searchArea" name="searchArea" class="w-50 rounded-3" placeholder="Postecode or area" />
            <div class="p-2">
                <button class="btn btn-primary" type="submit">I want to find a studio</button>
                <button class="btn btn-primary" type="submit">I'd like to share MY studio</button>
            </div>
        </form>
    </div>
    <div class="" style="background-color:blue ">lalala</div>
</div>

<div class="mt-9 w-auto" style="background-color:green; position:absolute ">
    hej
    <div class="row" style="background-color:blue ">
        san
        <div class="col-3"style="background-color:deeppink ">
            då
        </div>
        ö
    </div>
    ä
</div>

