@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div id="full-width-banner">
        <div id="hero-banner-container">
            <img src="~/img/watercolors.jpg" class="img-fluid slideshow-img" alt="First slide picturing a studio space" />
            <img src="~/img/string.jpg" class="img-fluid slideshow-img" alt="Second slide picturing a studio space" />
            <img src="~/img/music.jpg" class="img-fluid slideshow-img" alt="Third slide picturing a studio space" />
            <img src="~/img/colors.jpg" class="img-fluid slideshow-img" alt="Fourth slide picturing a studio space" />
            <img src="~/img/buttons.jpg" class="img-fluid slideshow-img" alt="Fith slide picturing a studio space" />
        </div>
        <div id="search-box-container">
            <form method="post" id="search-box" class="table-responsive" asp-action="IndexSearch" asp-controller="Home">
                <h2 id="search-box-title">FIND CREATIVE SPACE</h2>
                <input type="text" name="city" id="search-area" placeholder="City" class="pt-2 pb-2" onkeyup="this.value = this.value.replace(/[^A-Za-z /-]/, '')" />
                <div>
                    <button name="looking" value="false" class="project-buttons green-buttons index-buttons" type="submit" title="I have a studio that I want to share">SHARE SPACE</button>
                    <button name="looking" value="true" class="project-buttons green-buttons index-buttons" type="submit" title="I don't have a studio but would love to share one">FIND SPACE</button>
                </div>
            </form>
        </div>
        <div class="container align-content-center align-content-center error-message"><span>@TempData["searchError"]</span></div>
    </div>
    <section class="section-bg table-responsive">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div>
                        <div class="card-body">
                            <div class="text-center">
                                <img src="~/img/Connect.png" alt="Green illustration of connected people" class="index-logos" />
                                <h5 class="card-title align-content-center">CONNECT</h5>
                            </div>
                            <p class="card-text">
                                Lingonberry is more than just a website — it's also a place for discovery. With our search capabilities and filters,
                                you can find new friends and explore. This is a platform where creatives come together, share ideas
                                and bring them to life. Lingonberry is a platform
                                that brings likeminded artists together in one place to easily collaborate, share ideas and explore new possibilities.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div>
                        <div class="card-body">
                            <div class="text-center">
                                <img src="~/img/Idea.png" alt="Red lamp illustrating concept" class="index-logos" />
                                <h5 class="card-title">CONCEPT</h5>
                            </div>
                            <p class="card-text">
                                Lingonberry was founded by a team of developers who are passionate about helping others succeed.
                                We believe in the power of collaboration and community.
                                Our platform provides a service where you can easily search and find the perfect studio share.
                                No more wasting time looking through hundreds of websites
                                - our search functions will help you find the perfect fit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div>
                        <div class="card-body">
                            <div class="text-center">
                                <img src="~/img/Safety.png" alt="Green lock illustrating safety" class="index-logos" />
                                <h5 class="card-title">SAFETY</h5>
                            </div>
                            <p class="card-text">
                                At lingonberry, we take your safety seriously. We know the importance of protecting yourself
                                and your business when it comes to sharing a studio space. That's why we use a comprehensive
                                safety disclaimer to make sure you're fully aware of all possible risks associated with renting out and sharing a space. <div class="dropup">
                                    <a class=" dropdown-toggle index-disclaimer" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        SAFETY DISCLAIMER
                                    </a>
                                    <div class="dropdown-menu">
                                        <div class="form-outline mb-0 p-4" id="dro">
                                            <h2>Terms And Conditions</h2>
                                            <p>
                                                As a condition of your use of Lingonberry you agree to the following terms:
                                            </p>
                                            <ul class="disclaimer-text">
                                                    <li>
                                                        You will not violate any laws.
                                                    </li>
                                                    <li>
                                                    You will not post any threatening, abusive, defamatory, obscene or indecent material.
                                                    </li>
                                                    <li>
                                                    You will not post or otherwise communicate any false or misleading material or message of any kind.
                                                    </li>
                                                    <li>
                                                    You will not distribute viruses or any other technologies that may harm Lingonberry or Lingonberry users.
                                                    </li>
                                                    <li>
                                                    You will not copy, modify, or distribute any other person's content without their consent.
                                                    </li>
                                                    <li>
                                                    By using Lingonberry, you agree to the collection, transfer, storage and use of your personal information by Lingonberry on servers located in the Northern Europe.
                                                    </li>
                                                    <li>
                                                       Lingonberry takes no responsibility when is comes to contracts and studio sharing. We only provide a service where likeminded can meet and nothing else.
                                                    </li>
                                                </ul>                                          
                                        </div>
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="index-last-section-container" class="section-bg">
        <div class="container justify-content-center">
            <div class="section-title">
                <p>  Make it happen with lingonberry - the perfect online studio share platform for creatives. Whether you’re a visual artist,
                    musician, photographer, dancer (you get the point). There’s no better place to make your studio share come to live. Our platform is designed to create meaningful connections between creatives of all levels, from beginners to experts. <br />Bring Your Vision to Life with Lingonberry!</p>
            </div>
        </div>
    </section>
</div>


