@{
    ViewData["Title"] = "Home Page";
}

<div >
    <div class="full-width">
        <div class="intro">
            <img src="~/img/1.jpg" class="img-fluid slideshow-img" />
            <img src="~/img/2.jpg" class="img-fluid slideshow-img" />
            <img src="~/img/3.jpg" class="img-fluid slideshow-img" />
        </div>
        <form method="post" id="searchbox" class="searchBox table-responsive">

            <h2 id="studioTitle">FIND CREATIVE STUDIO</h2>
			<input type="text" id="searchArea" name="searchArea" placeholder="Postcode or area" class="pt-2 pb-2 " />
			<div>
			<button id="shareMine" type="submit">SHARE MINE</button>
			<button id="findTheirs" type="submit">FIND THEIRS</button>
			</div>
		</form>
    </div>
	<section id="why-us" class="why-us section-bg mt-4">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
					<div>
						<div class="card-body">
							<p>BILD</p>
							<h5 class="card-title">CONNECT</h5>
							<p class="card-text">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
					<div>		
						<div class="card-body">
							<p>BILD</p>
							<h5 class="card-title">CONCEPT</h5>
							<p class="card-text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
					<div>
						<div class="card-body">
							<p>BILD</p>
							<h5 class="card-title">SAFETY</h5>
							<p class="card-text">	
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
<section id="finalText" class="contact section-bg">
		<div class="container justify-content-center">
			<div class="section-title">
				<h2>Lorem ipsum</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
			</div>
		</div>
	</section>
</div>


