@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <div class="full-width">
        <div class="intro">
            <img src="~/img/1.jpg" class="img-fluid slideshow-img" />
            <img src="~/img/2.jpg" class="img-fluid slideshow-img" />
            <img src="~/img/3.jpg" class="img-fluid slideshow-img" />
        </div>
    </div>
    <form method="post" class="rounded-pill searchBox">
        <h2 class="">Find creative studios</h2>
        <input type="text" id="searchArea" name="searchArea" class="w-50 rounded-3" placeholder="Postecode or area" />
        <div class="p-2">
            <button class="btn btn-primary" type="submit">I want to find a studio</button>
            <button class="btn btn-primary" type="submit">I'd like to share MY studio</button>
        </div>
    </form>
     <div class="row full-width p-5 ">
    <div class="col">
    BILD
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col">
    BILD
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div> <div class="col">
    BILD
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    </div>


</div>


