<div id="about-container">
    <div class="row">
        <img src="~/img/About-us.png" alt="Four illustrations of various studios" id="about-hero">
    </div>
</div>
<div class="text-center mt-4">
    <h2 class="about-headers">ABOUT US</h2>
    <div id="about-text">
        <div>
            Pals since day one in school, inspiring and supporting each other every step of the way! Grateful for this friendship that only grows stronger.
            A dynamic duo ready to take on the world! Passionate about system development and determined to make a difference. Ready to take on any challenge - #DreamTeam
            <div>
                <h2 class="about-headers mb-4 mt-4">MEET THE TEAM</h2>
                <div class="row text-center">
                    <div class="col" id="josefin-container">
                        <img src="~/img/Portaits-jojo.png" class="about-portrait">
                        <h6 class="mt-2">JOSEFIN</h6>
                        <p>
                            Born and raised in the wild north of Sweden, I'm a thrill-seeker dedicated to exploring life in all its forms. When I'm not travelling, you can find me surfing the waves or spending time with my big family.
                        <p>
                    </div>
                    <div class="col">
                        <img src="~/img/Portaits-karin.png" class="about-portrait karin">
                        <h6 class="mt-2">KARIN</h6>
                        <p>
                            I'm a wanderlust spirit, fueled by the outdoors and the joy of problem solving. From the west coast of Sweden to places around the world - always ready to explore and discover.
                        <p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="project-buttons mt-3 btn" id="light-green-button" asp-controller="Contact" asp-action="Contact">GET IN TOUCH</a>
</div>
@*TEST*@