<div id="about-container">
    <div class="row">
        <div class="col-3" style="background-color:bisque">
            BILD rutan förändras utefter bildens storlek!!
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
        </div>
        <div class="col-3">col</div>
        <div class="col-3">col</div>
        <div class="col-3">col</div>
    </div>
</div>
<div class="text-center">
    <h2 class="about-headers mt-4">ABOUT US</h2>
    <div id="about-text">

        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat<div> 
                <h2 class="about-headers mb-4 mt-4">MEET THE TEAM</h2>
                <div class="row text-center">
                    <div class="col" id="josefin-container" style="background-color:beige">
                        <div>BILD</div> <h6 class="mt-2">JOSEFIN</h6><p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit
                        <p>
                    </div>
                    <div class="col" style="background-color:beige">
                        <div class="about-photos">BILD</div> <h6 class="mt-2">KARIN</h6><p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita
                        <p>
                    </div>
                </div>
        </div>
    </div>
    </div>
    <button class="project-buttons mt-3" id="light-green-button">GET IN TOUCH</button>
</div>