html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.intro {
    height: 400px;
    position: relative;
}

.slideshow-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    object-fit: cover;
    display: none;
}

/*    .slideshow-img:first-child {
        display: block;
    }*/
.searchBox {
    position: absolute;
    margin: auto;
    background-color: #c7342a;
    border-block-color:#c7342a;
    border: 1px;
    width: 50%;
    text-align: center;
    border-radius: 30px;
    bottom: 75px;
    left: 25%;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.35);
}
.full-width {
    /* width: 100vw;
    position: relative;
    height:440px;
    max-width:1200px;*/

    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    height:440px;

}
#findTheirs {
    background: #333e04;
    border: none;
    border-radius: 40px;
    border-radius: 40px;
    color: white;
    padding: 10px;
}

#shareMine {
    background: #333e04;
    border: none;
    border-radius: 40px;
    border-radius: 40px;
    color: white;
    padding: 10px;
    margin-right:5px;
}
#searchArea {
    position: relative;
    left: 0;
    border-radius: 40px;
    width: 55%;
    float: left;
    margin-left: 20px;
    padding: 2px;
   margin-bottom:20px;
   padding-left:20px;
}
#studioTitle{
    color:white;
    padding:10px;
}

#finalText {
    margin-top:40px;
    text-align: center;
    padding-bottom: 30px;
}  

   




