html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.intro {
    height: 50vh;
    position: relative;
}

.slideshow-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

/*    .slideshow-img:first-child {
        display: block;
    }*/
.searchBox {
    position: relative;
    margin: auto;
    top: 90%;
    background-color: #c7342a;
    border-block-color: black;
    border: 3px solid;
    padding: 1%;
    width: 50%;
    height: auto;
    text-align: center;
}
.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}